<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<listener>
		<listener-class>
			servlets.StartRoutine
		</listener-class>
	</listener>
	
	
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>servlets.Test</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Users</servlet-name>
		<servlet-class>servlets.Users</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Sessions</servlet-name>
		<servlet-class>servlets.Sessions</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Products</servlet-name>
		<servlet-class>servlets.Products</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Questions</servlet-name>
		<servlet-class>servlets.Questions</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Users</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Sessions</servlet-name>
		<url-pattern>/sessions</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Products</servlet-name>
		<url-pattern>/products</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Questions</servlet-name>
		<url-pattern>/questions</url-pattern>
	</servlet-mapping>


	<display-name>server</display-name>
	
	
	<welcome-file-list>
		<welcome-file>overview.html</welcome-file>
	</welcome-file-list>

</web-app>