<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>servlets.Test</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Signup</servlet-name>
		<servlet-class>servlets.Signup</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Signup</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>

	<display-name>server</display-name>
	<welcome-file-list>
		<welcome-file>overview.html</welcome-file>
	</welcome-file-list>

</web-app>